* {
    margin: 0%;
    padding: 0%;
}

:root {
    --main-purple: rgb(192, 29, 119);
    --main-white: #f0f0f0;
    --main-blue: #388dbf;
    --main-gray: #303841;
}

.body {
    font-family: 'Calibri', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);

}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
    color: white;
}

h2 {
    font-size: 4.2rem;
}

ul {
    list-style: none;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-purple);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

@media (max-width: 28.75em) {
    .nav {
        justify-content: center;
    }

    .nav-list {
        margin: 0 1rem;
    }
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.welcome-section>p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-white);
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
    .projects-section-header {
        font-size: 4rem;
    }
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
}

.contact-section-header>h2 {
    font-size: 6rem;
}

@media (max-width: 28.75em) {
    .contact-section-header>h2 {
        font-size: 4rem;
    }
}

.contact-section-header>p {
    font-style: normal;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}