body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}

#header-img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

#nav-bar {
    font-weight: 400;
}

#nav-bar>ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
}

iframe {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    max-width: 560px;
    width: 100%;
}


@media only screen and (max-width: 720px) {
    .image-wrapper {
        grid-template-columns: 1fr;
    }
}